.container{
    height: calc(100vh - 100px);
    display: flex;
    margin-top: 140px;
}

.left{
    flex: 1;
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: center;
    /* margin-top: -50px; */
}

.right{
    flex: 1;
    margin-left: 15%;
    margin-top: 50px;
}

.imgContainer{
    width: 50%;
    height: 50%;
    position: relative;
    padding: 10%;
}

.title {
  margin-top: -25px;
  /* margin-bottom: 10px; */
}

.price{
    color: #d1411e;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #d1411e;
    /* padding-top: 500px; */
}

.desc {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sizes{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.size{
    width: 40px;
    height: 40px;
    position: relative;
}

.size:last-child{
    width: 80px;
    height: 80px;
}

.number{
    position: absolute;
    top: -5px;
    right: -20px;
    background-color: teal;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
}

.ingredients{
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
}

.option{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.quantity{
    width: 50px;
    height: 30px;   
}

.button{
    height: 30px;
    /* width: 100px; */
    margin-left: 10px;
    background-color: #d1411e;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .container {
      height: auto;
      text-align: center;
      flex-direction: column;
      margin-top: 100px;
      margin-left: -60px;
      /* width: 100%; */
    }
  
    .imgContainer {
      width: 50vw;
      height: 50vw;
      margin-left: 35px;
    }
  
    .title {
      margin-top: 200px;
      margin-bottom: 5px;
      /* font-size: 18px;
      font-weight: bold;
      color: red;
      margin-top: 10px; */
    }

    .desc {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .price {
      margin-bottom: 5px;
    }
  
    .sizes {
      width: 100%;
      padding: 0px 20px;
    }
  
    .ingredients {
      flex-direction: column;
    }
  
    .option {
      margin: 10px;
      font-size: 18px;
    }
  
    .checkbox {
      width: 25px;
      height: 25px;
    }
  
    .quantity,
    .button {
      height: 50px;
      padding: 10px 20px;
      /* width: 100px; */
    }
  }

  .button{
    /* height: 50px; */
    width: 140px;
    margin-left: 10px;
    background-color: #d1411e;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

  /* .container{
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.desc{
    text-align: center;
    color: #777;
    margin-top: 10px;
}
  
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  
    .title {
      font-size: 30px;
    }
  
    .price,
    .desc {
      font-size: 24px;
    }
  } */
