.container{
    height: calc(100vh - 550px);
    background-color: #222;
    display: flex;
}

.copyright{
  /* flex: 1; */
  position: relative;
  display: flex;
}

.item{
    flex: 1;
    position: relative;
    display: flex;
}

.item:last-child{
    flex: 2;
    padding: 30px;
    justify-content: space-between;
}

.card{
    flex: 1;
    padding: 0 20px;
}

.title{
    font-size: 18px;
    color: #b7903c;
}

.text{
    color: lightgray;
    /* text-align: center; */
    font-size: 15px;
}

.motto{
    color: rgb(200, 200, 200);
}

@media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
    }
    .item:first-child {
      display: none;
    }
  
    .item {
      flex-direction: column;
    }
  
    .title {
      font-size: 22px;
    }
  
    .text {
      font-size: 16px;
    }
  }